# Telegram MTProto API credentials
TG_API_ID=
TG_API_HASH=
PHONE_NUMBER=
PASSWORD=

# Telegram Bot API credentials
TG_BOT_TOKEN=
MODERATION_CHAT_ID=
TG_CHANNEL_ID=

# Sources for Telegram and RSS feeds
TG_SOURCES=
RSS_SOURCES=

# PostgreSQL database credentials
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
DATABASE_URL=